<div class="header-tpl"><%= data.title %></div>
<ul>
    <% for (var i = 0; i < data.lists.length; i ++) { %>
        <li><%= data.lists[i] %></li>
    <% } %>
    
    <%= data.font %>
    <p class='p1 <%- data.class %>'> 吓死我了 还可以zheyang</p> 
  
</ul>
